body {
    background-color:rgb(180, 104, 4);
}
header h1 {
    color: rgba(243, 9, 9, 0.842);
    background-color: rgb(245, 181, 6);
    text-align:center;
}
section h1,h2 {
    color:rgba(243, 9, 9, 0.842); ;
    background-color: rgb(245, 181, 6);
    text-align: center;
}
section p {
    padding: 20px;
    background-color:rgb(204, 118, 132);
}

img {
    width: 500px;
    heigth: 600px;
}
figcaption {
    padding: 20px;
    background-color:rgb(204, 118, 132);
}
footer {
    background-color:rgb(245, 181, 6);
}